.explorer .car-info {
  grid-template-columns: 55% 15% 15% 15%;
  grid-template-areas:
    "img brand model year"
    "img mileage engine price";
}

.explorer .car-img {
  width: 100%;
  justify-self: left;
  grid-area: img;
}

.explorer .car-brand {
  grid-area: brand;
}

.explorer .car-model {
  grid-area: model;
}

.explorer .car-year {
  grid-area: year;
}

.explorer .car-mileage {
  grid-area: mileage;
}

.explorer .car-engine {
  grid-area: engine;
}
.explorer .car-price {
  grid-area: price;
}

.explorer .car-brand,
.explorer .car-model,
.explorer .car-year,
.explorer .car-mileage,
.explorer .car-engine,
.explorer .car-price,
.explorer .car-info {
  align-self: center;
  border: 1px solid red;
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .explorer .car-info {
    grid-template-columns: 60% 20% 20%;
    grid-template-areas:
      "img brand model"
      "img year mileage"
      "img engine price";
  }

  .explorer .car-img {
    width: 100%;
    align-self: center;
    grid-area: img;
  }
}

.error {
  color: rgb(162, 11, 11);
}

.acc-btn {
  color: white;
  background-color: rgb(11, 95, 21);
}

.clicked {
  background-color: rgb(162, 11, 11);
}

@media screen and (max-width: 600px) {
  .explorer .car-info {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "img img"
      "brand model"
      "year mileage"
      "engine price";
  }
}
