/* car-info styles */
html {
  background-color: rgb(241 241 241);
}

body {
  margin: 10px;
  padding: 0;
}

.car-profile {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}
.car-profile:hover {
  border: 1px solid #959191;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.cars-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

.car-info {
  display: grid;
  grid-template-columns: repeat(6 auto);
  grid-template-rows: repeat(4 auto);
  list-style: none;
  padding: 0;
  margin: 0;
}

.car-info li {
  justify-self: center;
}
.car-img {
  grid-column: 1 / span 6;
  grid-row: 1;
  padding: 0 auto;
  width: 100%;
}

.car-brand,
.car-model {
  grid-row: 2;
  min-width: 50%;
}

.car-year,
.car-mileage {
  grid-row: 3;
  min-width: 50%;
}
.car-engine,
.car-price {
  grid-row: 4;
  min-width: 50%;
}

.car-brand {
  grid-column: 1 / span 1;
}

.car-model {
  grid-column: 4 / span 2;
}

.car-year {
  grid-column: 1 / span 1;
}

.car-mileage {
  grid-column: 4 / span 2;
}

.car-engine {
  grid-column: 1 / span 1;
}

.car-price {
  grid-column: 4 / span 2;
}

/* hide styles */

.hide,
.hide-form,
.hide-details {
  display: none;
}

.client-form {
  order: 3;
}

.car-profile .explorer {
  order: 0;
}

@media screen and (max-width: 992px) {
  .cars-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .cars-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    margin: 10px 10px;
    justify-items: center;
    font-size: 14px;
  }

  .car-img {
    width: 100%;
  }
}
