/* car-info styles */

#main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

/* .car-profile {
  border: 1px solid black;
} */

.car-info {
  display: grid;
  grid-template-columns: repeat(6 auto);
  grid-template-rows: repeat(3 auto);
  list-style: none;
  padding: 0;
  margin: 0;
}

.car-info li {
  justify-self: center;
}
.car-img {
  grid-column: 1 / span 6;
  grid-row: 1;
  margin: 0 auto;
}

.car-brand,
.car-model,
.car-year {
  grid-row: 2;
}

.car-mileage,
.car-engine,
.car-price {
  grid-row: 3;
}

.car-brand {
  grid-column: 1 / span 1;
}

.car-model {
  grid-column: 2 / span 2;
}

.car-year {
  grid-column: 4 / span 4;
}

.car-mileage {
  grid-column: 1 / span 1;
}

.car-engine {
  grid-column: 2 / span 2;
}

.car-price {
  grid-column: 4 / span 4;
}

/* hide styles */

.hide {
  display: none;
}

.client-form {
  order: 3;
}

.car-profile .explorer {
  order: 0;
}
